/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: General Styles
:: Form Styles 
:: Form Interactions
:: List Styles
:: Leaderboard Styles 
*/

/* -----------------------------------------
   General Styles
----------------------------------------- */
body {text-align:center;font-family: 'Helvetica Neue', Helvetica, sans-serif;text-align: center;}
.clear {clear:both;}
hr.soften {
  height: 1px;
  margin: 25px 0;
  background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  border: 0;
}
h1 {
    line-height: 40px;
    font-size: 28px;
    font-weight: normal;
    color: #444444;
    text-shadow: 1px 1px white;
}
.container {
    width:480px;
    margin:0 auto;
}
.bg {
  background-color: #f1f1f1;
    padding: 15px 25px 15px 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(238,238,238);
    -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(238,238,238);
    box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(238,238,238);
    z-index: 1;
}

/* -----------------------------------------
  Form Styles
----------------------------------------- */
.trail-form,
.trail-form h1,
.trail-form input,{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.trail-form {
    position: relative;
    width: 350px;
    height: auto;
    margin-top: 15px;
    cursor: default;
    margin: 40px auto;
 }
.trail-form:before {
    position: absolute;
    top: -12px;
    left: 30px;
    width: 0px;
    height: 0px;
    content: '';
    border-bottom: 10px solid #f1f1f1;
    border-right: 10px solid #f1f1f1;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
}
.trail-form input[type=text] {
  text-align: center; 
    line-height: 14px;
    margin: 10px 0;
    padding: 10px 15px;
    width: 280px;
  height: 20px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255,255,255, .2);
    color: #999;
  vertical-align: middle;
  border: 1px solid #CCC;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.btn.primary {
  color: white;
  background-color: #0CC6E7;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear,left top,left bottom,from(#43E4F3),to(#0CC6E7));
  background-image: -moz-linear-gradient(top,#43E4F3,#0CC6E7);
  background-image: -ms-linear-gradient(top,#43E4F3,#0CC6E7);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#43E4F3),color-stop(100%,#0CC6E7));
  background-image: -webkit-linear-gradient(top,#43E4F3,#0CC6E7);
  background-image: -o-linear-gradient(top,#43E4F3,#0CC6E7);
  background-image: linear-gradient(top,#43E4F3,#0CC6E7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43e4f3',endColorstr='#0cc6e7',GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0CC6E7 #0CC6E7 #08889E;
}
.btn {
  width: 312px;
  height: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  display: inline-block;
  background-color: #E6E6E6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(white),color-stop(25%,white),to(#E6E6E6));
  background-image: -webkit-linear-gradient(white,white 25%,#E6E6E6);
  background-image: -moz-linear-gradient(top,white,white 25%,#E6E6E6);
  background-image: -ms-linear-gradient(white,white 25%,#E6E6E6);
  background-image: -o-linear-gradient(white,white 25%,#E6E6E6);
  background-image: linear-gradient(white,white 25%,#E6E6E6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 24px;
  line-height: normal;
  border: 1px solid #CCC;
  border-bottom-color: #BBB;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: .1s linear all;
  -moz-transition: .1s linear all;
  -ms-transition: .1s linear all;
  -o-transition: .1s linear all;
  transition: .1s linear all;
  -moz-transition: .1s linear all;
  -ms-transition: .1s linear all;
  -o-transition: .1s linear all;
  transition: .1s linear all;
}
.btn:hover {
  background-position: 0 -30px;
  text-decoration: none;
}
.btn.primary:active {
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.3);
}
.btn:active {
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.35), 0 1px 0 white;
  -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.35), 0 1px 0 #ffffff;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.35), 0 1px 0 white;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.35), 0 1px 0 white;
  -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.35), 0 1px 0 #ffffff;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.35), 0 1px 0 white;
}

/* -----------------------------------------
   Form Interactions
----------------------------------------- */
.error-box {
  display: none;
}
.error {
  color: red;
  display: block;
}
.loading {
    float:right; 
    background:url(img/ajax-loader.gif) no-repeat 1px; 
    height:28px; 
    width:28px; 
    display:none;
}

/* -----------------------------------------
   List Styles
   Supper awesome CSS3 list tutorial by Catalin Rosu
----------------------------------------- */
.trail-list-container {
    margin:20px auto;
    /* display:none - uncomment when once JS is complete*/
}
.completed-counter {
  padding: 15px 0 15px 0;
  background-color: #aaa;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  color: #fff;
  font: 26px 'trebuchet MS', 'lucida sans';
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.completed-counter span{
  margin-right: 10px;
  background: #bfbfbf;
    border: .3em solid rgba(191,191,191,.5);
    color: #fff;
    border-radius: .2em;
    transition: all .2s ease-out;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);  
}
ol {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 18px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 0em;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  word-wrap: break-word;
}
ol ol{
  margin: 0 0 0 2em;
}
.rectangle-list a{
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  *padding: .4em;
  margin: .5em 0 .5em 2.5em;
  background: #d3d3d3;
  color: #fff;
  text-decoration: none;
  text-align: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: all .3s ease-out; 
}
.rectangle-list a span {
  float: right;
}
.rectangle-list a:hover{
  background: #bababa;
} 
.rectangle-list a:before{
  content: counter(li);
  counter-increment: li;
  position: absolute; 
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #0CC6E7;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.rectangle-list a:after{
  position: absolute; 
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out; 
}
.rectangle-list a:hover:after{
  left: -.5em;
  border-left-color: #0CC6E7;       
}
.trail-title { 
  font: 20px 'trebuchet MS', 'lucida sans';
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  display: block;
  padding: .1em .1em .1em 1em;
  margin: .2em 0 .2em 0;
  background: #d3d3d3;
  color: #fff;
  text-align: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: all .3s ease-out; 
}
/* Accordion Style */
#accordion ul {
  list-style: none;
  padding: 0;
  display: none;
}
#accordion ul li {
  text-align: left;
  margin: 0 4px 8px 50px;
  color: #fff;
  font-weight: 100;
  font-size: 13px;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  padding: .4em .4em .4em .8em;
  background: #dfdfdf;
  text-decoration: none;
  text-align: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: all .3s ease-out; 
}
#accordion ul li span{
  float: right;
}
/* -----------------------------------------
   List Content Styles
----------------------------------------- */
.list-contents-container {
  margin:20px auto;
    /* display:none - uncomment when once JS is complete*/
}
#geolocation {
  margin-top: 25px;
}
#map {
  width: 350px;
  height: 250px;
  margin: 10px auto;
  position: relative;
}
/* -----------------------------------------
   Leaderboard Styles 
   Thanks to Sarah Kahn for a kickass CSS3 tutorial 
----------------------------------------- */
.leaderboard-container {
    margin:20px auto;
    /* display:none - uncomment when once JS is complete*/
}
.top-bg {
  margin-bottom: -78px;
}
.top-bg h1 {
  margin-bottom: 45px;
  font-size: 32px;
}
.btm-bg {
  margin-top: -70px;
}
.btm-bg h2 {
  margin-top: 30px;
  font-size: 28px;
  color: #888;
  font-weight: 100;
}
.ribbon {
  font-size: 24px !important;
  text-shadow: 0 1px black;
  width: 67%;
  position: relative;
  background: #d34838;
  color: #fff;
  text-align: center;
  padding: .75em 2em;
  margin: 2em auto 3em; 
  -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 2px rgba(0,0,0,0.7); 
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  z-index: 3;

}
.ribbon:before, .ribbon:after {
   content: "";
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #d34838;
   z-index: 1;
}

.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
}
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   content: "";
   position: absolute;
   display: block;
   border-style: solid;
   border-color: #af3d2f transparent transparent transparent;
   bottom: -1em;
   z-index: 2;
}
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
}